<table>
  <tr>
    <th colspan="2">Data of writer:</th>
  </tr>
  <tr>
    <td>Calculated Handedness:</td>
    <td></td>
  </tr>
  <tr>
    <td>Manual Handedness:</td>
    <td>
      <select>
        <option value="left">Left</option>
        <option value="right">Right</option>
        <option value="unknown">Unknown</option>
      </select>
    </td>
  </tr>
  <tr>
    <th colspan="2">Data of writing:</th>
  </tr>
  <tr>
    <td>Text:</td>
    <td>{{text$ | async}}</td>
  </tr>
  <tr>
    <td>Algorithm log</td>
    <td [title]="log$ | async">Hover to show</td>
  </tr>
</table>