<div>
  <nav>
    <a [routerLink]="'/writer/' + (writerId$ | async)">Choose another writing</a>
    <a [routerLink]="nextLink$ | async" #next>Next Writing (R)</a>
  </nav>
  <ng-template #template>
    Manual Handedness:
    <select [value]="manualHandedness" (change)="changeManualHandedness($event.target.value)" (click)="selectClicked($event)">
      <option value="default" disabled="disabled">Default</option>
      <option value="left">Left (A)</option>
      <option value="right">Right (S)</option>
      <option value="unknown">Unknown (D)</option>
    </select>
    Click to show more about the writer.
  </ng-template>
  <app-dropdown [template]="template">
    <app-writing-data-changer [text$]="text$" [log$]="log$" [manualHandedness$]="manualHandedness$" (changeManualHandedness)="changeManualHandedness($event)"
      [calculatedHandedness$]="calculatedHandedness$"></app-writing-data-changer>
  </app-dropdown>
  <h3>Writing:</h3>
  <div class="toolbar">
    <app-zoom (zoom$)="changeZoom($event)"></app-zoom>
    <app-stroke-data-changer [strokes$]="strokes$" [selected$]="selected$" (changeType)="changeSelectionType($event)"></app-stroke-data-changer>
  </div>
</div>
<app-writing-visualizer [strokes$]="strokes$" [zoom$]="zoom$" [selected$]="selected$" (selected)="changeSelected($event)"></app-writing-visualizer>