<div class="navigator">
  <a [routerLink]="'/writer/' + (writerId$ | async)">Choose another writing</a>
  <a>Next Writing</a>
</div>
<app-writing-data-changer [text$]="text$" [log$]="log$" [manualHandedness$]="manualHandedness$" (changeManualHandedness)="changeManualHandedness($event)"
  [calculatedHandedness$]="calculatedHandedness$"></app-writing-data-changer>
<h3>Writing:</h3>
<app-zoom (zoom$)="changeZoom($event)"></app-zoom>
<app-stroke-data-changer [strokes$]="strokes$" [selected$]="selected$" (changeType)="changeSelectionType($event)"></app-stroke-data-changer>
<app-writing-visualizer [strokes$]="strokes$" [zoom$]="zoom$" [selected$]="selected$" (selected)="changeSelected($event)"></app-writing-visualizer>