<svg [attr.width]="svgWidth$ | async" [attr.height]="svgHeight$ | async" [attr.viewBox]="svgViewBox$ | async">
  <svg:g *ngFor="let stroke of (drawableStrokes$ | async); index as i" (click)="strokeClicked(i)">
    <ng-container *ngFor="let line of stroke.drawablePoints">
      <svg:line [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" style="stroke:rgba(0, 0, 0, 0);stroke-width:15" />
      <svg:line [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" style="stroke:rgb(0, 0, 0);stroke-width:5" />
    </ng-container>
  </svg:g>
</svg>